<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet">
    <title>Currency Exchange</title>
  </head>
  <body>
    <div>
      <form method="POST" class="form-style">
        <input type="text" name="from" placeholder="From" />
        <input type="text" name="amount" placeholder="Amount" />
        <input type="text" name="to" placeholder="To" />
        <button>Convert</button>
      </form>
    </div>
  </body>
</html>
